.heading
{
    width: 100%;
    text-align: left;
}

.heading h3
{
    display: inline;
}

#replay
{
    font-size: 22px;
    border: 5px solid lightgreen;
    box-shadow: 10px rgb(116, 201, 253);
}

.sticky_footer
{
    background-color: orangered;
    color: aqua;
    font-weight: 900;
    font-size: 30px;
    width: 100%;
    position: fixed;
    float: none;
    font-family: cursive;
    bottom: 0;
    text-align: center;
}





























































































































































